[include ../KAMP/Configuration/*.cfg]

[gcode_macro _MOVE_TO_INTRO_LINE]
gcode:
    SAVE_GCODE_STATE NAME=_MOVE_TO_INTRO_LINE

    _ABSOLUTE_MODE
    _RELATIVE_EXTRUSION

    G1 Z50 F900
    G1 X2 Y10 F3000

    RESTORE_GCODE_STATE NAME=_MOVE_TO_INTRO_LINE

[gcode_macro _DRAW_INTRO_LINE]
gcode:
    SETUP_VORON_PURGE DISPLAY_PARAMETERS=1 ADAPTIVE_ENABLE=1
    VORON_PURGE

    # VORON_PURGE retracts 0.5mm at the end but I don't do skirts so unretract
    # that bit
    SAVE_GCODE_STATE NAME=_DRAW_INTRO_LINE_STATE
    _RELATIVE_EXTRUSION
    G1 E0.5 F2100
    G92 E0
    RESTORE_GCODE_STATE NAME=_DRAW_INTRO_LINE_STATE


################################################################################
# Bed Tramming
################################################################################

[gcode_macro CHECK_BED_LEVEL]
description: Check the corners of the bed are levelled.
gcode:
    BED_MESH_CLEAR
    HOME_IF_NEEDED
    SCREWS_TILT_CALCULATE


################################################################################
# Accessory Control
################################################################################

[gcode_macro DISABLE_FILAMENT_SENSOR]
description: Disable Filament Sensor
gcode:
    SET_FILAMENT_SENSOR SENSOR=RunoutSensor ENABLE=0


[gcode_macro ENABLE_FILAMENT_SENSOR]
description: Enable filament sensor
gcode:
    SET_FILAMENT_SENSOR SENSOR=RunoutSensor ENABLE=1
