[include mainsail.cfg]

# This file contains pin mappings for the stock 2021 Creality Ender 3
# S1 (and S1 pro). To use this config, check the STM32 Chip on the
# V2.4S1 Board then during "make menuconfig" select either the
# STM32F103 with a "28KiB bootloader" or select the STM32F401 with a
# "64KiB bootloader" and serial (on USART1 PA10/PA9) communication for
# both depending on the STM32 chip installed on your printer's
# motherboard.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# Serial (on USART2 PA3/PA2), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must changed to "firmware.bin"

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: !PA5
position_endstop: -10
position_max: 235
position_min: -11
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: !PA6
position_endstop: -8
position_max: 223
position_min: -9
homing_speed: 50

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_max: 270
position_min: 0 # To calibrate probe Z offset change to -4

[extruder]
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
gear_ratio: 42:12
rotation_distance: 25.832
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
min_temp: 0
max_temp: 300
pressure_advance: 0.0400 # For PLA, need to redo for PETG and move to PRINT_START

[heater_bed]
heater_pin: PA7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
min_temp: 0
max_temp: 100

[heater_fan hotend_fan]
pin: PC0

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 150
max_accel: 2750
max_z_velocity: 5
max_z_accel: 100

[input_shaper]
shaper_freq_x: 40.0 # V. low confidence
shaper_freq_y: 44.0
shaper_type: mzv

[bltouch]
sensor_pin: ^PC14
control_pin: PC13
x_offset: -55.5
y_offset: 0
z_offset: 2.965
probe_with_touch_mode: true
stow_on_each_sample: false
samples: 2
samples_result: average

# All screw coordinates are nozzle coordinates that position probe above the screw
[screws_tilt_adjust]
screw1: 75,30 # Reference screw
screw1_name: Front Left Screw
screw2: 75,200
screw2_name: Rear Left Screw
screw3: 234,200
screw3_name: Rear Right Screw
screw4: 234,30
screw4_name: Front Right Screw
speed: 120
horizontal_move_z: 10
screw_thread: CW-M3

[bed_mesh]
speed: 120
horizontal_move_z: 10
mesh_min: 20, 20 # These are probe coordinates. Add the probe offset to get nozzle coordinates.
mesh_max: 179, 210 # Remember, add the probe offset to make sure it isn't out of bounds!
probe_count: 8,8
algorithm: bicubic
fade_start: 1
fade_end: 10

[safe_z_home]
home_xy_position: 173, 117 # Nozzle position to center the probe in the bed
speed: 75
z_hop: 10
z_hop_speed: 5
move_to_previous: true

[filament_switch_sensor RunoutSensor]
switch_pin: !PC15
pause_on_runout: true

[pause_resume]
recover_velocity: 25

[temperature_sensor Board_MCU]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[include macros.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.061
#*# pid_ki = 1.003
#*# pid_kd = 110.572
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.920
#*# pid_ki = 1.256
#*# pid_kd = 972.765
#*#
#*# [bed_mesh pei]
#*# version = 1
#*# points =
#*# 	0.001250, 0.037500, 0.015000, -0.030000, -0.005000, 0.012500, 0.007500, 0.062500
#*# 	-0.123750, -0.093750, -0.103750, -0.143750, -0.116250, -0.098750, -0.098750, -0.031250
#*# 	-0.035000, 0.002500, -0.016250, -0.070000, -0.045000, -0.036250, -0.051250, -0.005000
#*# 	-0.026250, 0.007500, -0.013750, -0.075000, -0.051250, -0.036250, -0.040000, 0.037500
#*# 	-0.012500, 0.038750, 0.032500, -0.017500, 0.005000, 0.025000, 0.027500, 0.092500
#*# 	-0.001250, 0.030000, 0.012500, -0.041250, -0.026250, -0.010000, -0.012500, 0.060000
#*# 	-0.002500, 0.047500, 0.040000, -0.005000, 0.021250, 0.033750, 0.031250, 0.092500
#*# 	-0.088750, -0.072500, -0.091250, -0.142500, -0.132500, -0.133750, -0.146250, -0.092500
#*# x_count = 8
#*# y_count = 8
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 178.97
#*# min_y = 20.0
#*# max_y = 209.97
#*#
#*# [bed_mesh polycarbonate]
#*# version = 1
#*# points =
#*# 	  0.028750, 0.050000, 0.023750, -0.015000, 0.003750, 0.037500, 0.015000, 0.050000
#*# 	  -0.105000, -0.090000, -0.100000, -0.122500, -0.112500, -0.072500, -0.073750, -0.027500
#*# 	  -0.010000, 0.015000, -0.002500, -0.056250, -0.035000, -0.012500, -0.027500, 0.012500
#*# 	  -0.003750, 0.017500, 0.005000, -0.070000, -0.038750, -0.025000, -0.021250, 0.055000
#*# 	  0.025000, 0.052500, 0.047500, 0.005000, 0.013750, 0.042500, 0.050000, 0.105000
#*# 	  0.016250, 0.038750, 0.020000, -0.022500, -0.020000, 0.006250, -0.002500, 0.067500
#*# 	  0.000000, 0.040000, 0.045000, 0.010000, 0.016250, 0.047500, 0.055000, 0.092500
#*# 	  -0.068750, -0.061250, -0.072500, -0.128750, -0.128750, -0.123750, -0.127500, -0.086250
#*# min_x = 20.0
#*# max_x = 178.97
#*# min_y = 20.0
#*# max_y = 209.97
#*# x_count = 8
#*# y_count = 8
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
