[include ../KAMP/Configuration/Voron_Purge.cfg]

[gcode_macro _MOVE_TO_INTRO_LINE]
gcode:
    SAVE_GCODE_STATE NAME=_MOVE_TO_INTRO_LINE

    _ABSOLUTE_MODE
    _RELATIVE_EXTRUSION

    G1 Z25 F900
    G1 X2 Y0 F18000

    RESTORE_GCODE_STATE NAME=_MOVE_TO_INTRO_LINE

[gcode_macro _DRAW_INTRO_LINE]
gcode:
    SETUP_VORON_PURGE DISPLAY_PARAMETERS=1 ADAPTIVE_ENABLE=1
    VORON_PURGE

    # VORON_PURGE retracts 0.5mm at the end but I don't do skirts so unretract
    # that bit
    SAVE_GCODE_STATE NAME=_DRAW_INTRO_LINE_STATE
    _RELATIVE_EXTRUSION
    G1 E0.5 F2100
    G92 E0
    RESTORE_GCODE_STATE NAME=_DRAW_INTRO_LINE_STATE

[gcode_macro _SCRUB_NOZZLE]
gcode:
    {% set SKIP_VERIFY_Z = params.SKIP_VERIFY_Z|default(false) %}

    {% set BRUSH_Y = 306 %}
    {% set BRUSH_START_X = 31 %}
    {% set BRUSH_END_X = 69 %} # Nice
    {% set SCRUB_SPEED = 18000 %}

    {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes %}
       {action_raise_error("XY axes must be homed")}
    {% endif %}

    # Z axis safety checks. The toolhead's about to be flung around.
    # These can be skipped so the nozzle can be cleaned before homing Z.
    {% if not SKIP_VERIFY_Z %}
       # Verify Z is homed.
       {% if not "z" in printer.toolhead.homed_axes %}
          {action_raise_error("Z axis must be homed")}
       {% endif %}

       # Verify Z is not uncomfortably low.
       {% if printer.toolhead.position.z|float < 1.0 %}
          {action_raise_error("Z axis is too low (minimum 2mm)")}
       {% endif %}
    {% endif %}

    SAVE_GCODE_STATE NAME=_SCRUB_NOZZLE
    _ABSOLUTE_MODE

    # Raise Z if gantry is not levelled yet.
    {% if not SKIP_VERIFY_Z and printer.quad_gantry_level.applied == False %}
       G1 Z10 F300
    {% endif %}

    # Move to brush
    G1 X{BRUSH_END_X} Y{BRUSH_Y} F{SCRUB_SPEED}

    # Scrub
    G1 X{BRUSH_START_X} F{SCRUB_SPEED}
    G1 X{BRUSH_END_X} F{SCRUB_SPEED}
    G1 X{BRUSH_START_X} F{SCRUB_SPEED}
    G1 X{BRUSH_END_X} F{SCRUB_SPEED}
    G1 X{BRUSH_START_X} F{SCRUB_SPEED}
    G1 X{BRUSH_END_X} F{SCRUB_SPEED}

    RESTORE_GCODE_STATE NAME=_SCRUB_NOZZLE

[gcode_macro _SET_AIR_FILTER_FAN_SPEED]
description: Turn on the fan for the chamber air filter
gcode:
    {% set SPEED = params.SPEED|float %}
    SET_FAN_SPEED FAN=nevermore SPEED={SPEED}

[gcode_macro PREPARE_FOR_GANTRY_SQUARING]
gcode:
    HOME_IF_NEEDED
    QUAD_GANTRY_LEVEL
    G28 Z

    SAVE_GCODE_STATE NAME=_PREPARE_FOR_GANTRY_SQUARING
    _ABSOLUTE_MODE
    G1 X150 Y150 F3000
    G1 Z150 F900
    _WAIT_FOR_MOVES_TO_FINISH
    RESTORE_GCODE_STATE NAME=_PREPARE_FOR_GANTRY_SQUARING

    SET_IDLE_TIMEOUT TIMEOUT=99999
    SET_STEPPER_ENABLE STEPPER=stepper_x ENABLE=0
    SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=0

[gcode_macro DISABLE_AB_MOTORS]
gcode:
    SET_STEPPER_ENABLE STEPPER=stepper_x ENABLE=0
    SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=0


[gcode_macro M109] # Wait Hotend Temp
rename_existing: M109.1
gcode:
    #Parameters
    {% set s = params.S|float %}

    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  # Set hotend temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s-2} MAXIMUM={s+5}   # Wait for hotend temp (within n degrees)
    {% endif %}


[gcode_macro M190] # Wait Bed Temp
rename_existing: M190.1
gcode:
    #Parameters
    {% set s = params.S|float %}

    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}   # Set bed temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s-2} MAXIMUM={s+5}  # Wait for bed temp (within n degrees)
    {% endif %}
